
body {
  /* text-align:center; */
  /* margin:100px auto; */
  width:500px;
  font-family: 'Source Code Pro', sans-serif;
}
h1 {
  text-shadow: 0 1px 1px #eee;
  text-transform: uppercase;
}
.content {
  text-align:left;
  background:#F1F4F6;
  border:solid 1px #DFDFDF;
  margin-bottom:20px;
  margin-top:20px;
  padding: 50px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
