
.container {
  text-align:center;
  font-family: 'Source Code Pro', sans-serif;
}
h1 {
  text-shadow: 0 1px 1px #eee;
  text-transform: lowercase;
}
h2 { text-shadow: 0 1px 1px #fff; }

.content {
  text-align:left;
  background:#E6F0FF;
  border:solid 1px #1A0033;
  padding: 0 100px;
  position: relative;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
